@import '../../scss/main.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        align-self: flex-start;
        font-weight: 800;
    }

    div {
        line-height: $paragraph-line-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.about-img {
    width: 80%;
    justify-self: center;
    @include sm {
        width: 98%;
    }
}