@import "./../scss/main.scss";
.container {
  background-color: rgba(3, 3, 3, 0.99);
  color: white;
  position: relative;
  padding: 1rem 3rem;
  // animation-name: appear;
  // animation-duration: 1s;

  @include md {
    padding: 1rem 0.5rem;
  }

  h2 {
    text-align: center;
    @include sm {
      font-size: $regular-text;
      text-align: center;
    }
  }
  .slider-container {
    position: relative;
    // animation-name: slidein;
    // animation-duration: 1s;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 4rem 4rem;

    // display: grid;
    // grid-template-columns: 20% 60% 20%;
    min-height: 90vh;
    // padding: 1rem 12rem;
    // justify-items: center;
    // align-items: center;
    @include md {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // grid-template-columns: 10% 80% 10%;
      // height: 80vh;
      padding: 1rem 0;
    }
    @include sm {
      min-height: 84vh;
    }
    .image-container {
      position: absolute;
    }
  }

  .image-container {
    width: 40%;
    margin-bottom: 1.5rem;
    position: absolute;
    // animation-name: appear;
    // animation-duration: 1s;
    // animation-timing-function: ease-in-out;
    //   animation-name: slidein;
    // animation-duration: 1s;
    @include md {
      width: 70%;
    }
    @include sm {
      width: 100%;

    }
  }

  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
