.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    width: 65%;
    margin-bottom: 1.5rem;
}

.back-to-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

