

.post {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 70% 30%;
    background: #f4f4f4;
    align-items: center;

    .post-left {
        padding: 1rem 2rem;
        
    }

    .post-right {
        overflow: hidden;
    }


    a {
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        color: lightslategray;
    }

    h2 {
        margin-bottom: 0;

    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }

    

}
.img { 
    width: 100%;
}

@media screen and (max-width: 500px) {
    .post {
        grid-template-columns: 1fr;
        margin-top: 2rem;

        h2 {
            font-size: var(--font-size-medium);
        }
    }
}