@import '../../scss/main.scss';
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: -4rem;
    @include sm {
        margin: 0;
    }

    h2 {
        position: absolute;
        top: 45%;
        left: 18%;
        color: rgb(241, 236, 236);
        font-size: $banner-title;
        text-transform: uppercase;
        @include md {
            top: 46.5%;
            left: 16%;
            font-size: $section-title;
        }
         @include sm {
             top: 47%;
             font-size: $regular-text;
         }
         @include ssm {
             top: 46.5%;
         }
    }

    img {
        animation-name:fade;
        width: 50rem;
        height: 32rem;
        
        @include md {
            height: 22rem;
        }
        @include sm {
            height: 13.5rem;
        }
        @include ssm {
            height: 12rem;
        }

      
    }
 

}

.mask {
    opacity: 0;
    background-color: rgb(48, 4, 4);
    width: 100vw;
    height: 80vh;
    position: absolute;
    transition: all ease-in-out 1s;
    top: -40px;
    @include lg {
        top: -76px;
        height: 85vh;
    }
    @include md {
        height: 50vh;
        top: -72px;
        opacity: 0.5;
        
    }
    @include sm {
        height: 49vh;
        top: -60px;

    }
    @include ssm {
        height: 66vh;
    }
}
.mask:hover {
    opacity: .8;
}
/* Fading animation */

  
  @-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.nav-container {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 50%;
    @include md {
        width: 36rem;
    }
    @include sm {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}


@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.pageLink {
    text-decoration: none;
}
.title {
    text-decoration: none;
    color: rgb(38, 44, 49);
    text-align: left;
}

.icon {
    margin: 1rem;
    cursor: pointer;
    width: 8rem;
    color: white;
}
.icon:hover {
    color: silver;
}

.left, .right {
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    @include sm {
        top: 43.5%;
    }

}
.left {
    left: 4%;
    

}

.right {
    right: 4%;
   
}
span {
    margin: .4rem;
    color: white;
}
