@import "../../scss/main.scss";

.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66vh;
  @include xl {
    min-height: 25vh;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(68, 63, 63);
    font-size: 38px;
    text-transform: uppercase;
    word-break: normal;
    font-size: 180px;
    color: #3a3333;
    opacity: 0.9;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    text-shadow: 0 1px 7px white;
    @include xl {
      font-size: 120px;
    }
    @include md {
      font-size: 100px;
    }
    @include sm {
      font-size: 40px;
    }
  }

  .slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    transition: all 250ms linear;

    flex-grow: 1;
  }
  img {
    animation-duration: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: appear;
    animation-duration: 1s;
    width: 100%;
  }
  img.prev {
    animation: slide-prev 0.5s forwards;
    /* for chrome and safari*/
    -webkit-animation: slide-prev 0.5s forwards;
    /*for firefox*/
    -moz-animation: slide-prev 0.5s forwards;
    /* for opera*/
    -o-animation: slide-prev 0.5s forwards;
  }
  img.next {
    animation: slide-next 0.5s forwards;
    /* for chrome and safari*/
    -webkit-animation: slide-next 0.5s forwards;
    /*for firefox*/
    -moz-animation: slide-next 0.5s forwards;
    /* for opera*/
    -o-animation: slide-next 0.5s forwards;
  }
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  height: 13px;
  width: 13px;
  background-color: rgb(206, 197, 197);
  border-radius: 50px;
  margin: 0.04rem;
  z-index: 1;
  box-shadow: 0 3rem 3rem rgba(87, 65, 65, 0.3);
  border: 2px solid white;
  @include sm {
    height: 10px;
    width: 10px;
  }
}

.active-dot {
  height: 14px;
  width: 14px;
  background-color: rgb(85, 81, 81);
  border-radius: 50px;
  margin: 0.04rem;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  @include sm {
    height: 11px;
    width: 11px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.slider-active {
  transition-duration: 300ms;
  transition-property: transform;
  flex-shrink: 0;
}

.nav-container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 50%;
  @include md {
    width: 36rem;
  }
  @include sm {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageLink {
  text-decoration: none;
  z-index: 1;
}
.title {
  text-decoration: none;
  color: rgb(38, 44, 49);
  text-align: left;
}

.icon {
  margin: 1rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: $color-text;
  // color: white;
  @include sm {
    width: 2rem;
    height: 2rem;
  }
}
.icon:hover {
  color: silver;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}
.prev {
  left: -12%;
  @include xl {
    left: -7%;
  }
}

.next {
  right: -12%;
  @include xl {
    right: -7%;
  }
}
span {
  margin: 0.4rem;
  color: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// working
@-webkit-keyframes slide-prev {
  from {
    left: -100%;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-prev {
  from {
    left: -100%;
  }

  to {
    left: 50%;
  }
}

@-moz-keyframes slide-prev {
  from {
    left: -100%;
  }

  to {
    left: 50%;
  }
}

@-o-keyframes slide-prev {
  from {
    left: -100%;
  }

  to {
    left: 50%;
  }
}

@-webkit-keyframes slide-next {
  from {
    margin-left: 100%;
    opacity: 0.3;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes slide-next {
  from {
    margin-left: 100%;
    opacity: 0.3;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@-moz-keyframes slide-next {
  from {
    margin-left: 100%;
    opacity: 0.3;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
@-o-keyframes slide-next {
  from {
    margin-left: 100%;
    opacity: 0.3;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
