@import "../../scss/main.scss";
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include lg {
    padding: 0;
  }
}

.content {
  flex-grow: 1;
  padding: 10rem 11rem;
  @include lg {
    flex-grow: 1;
    padding: 9rem 3rem;
  }
  @include sm {
    padding: 7rem 1rem;
  }
}
