@import "./../scss/main.scss";

.imagesContainer {
  display: flex;
}

.home-header {
  @include sm {
    margin-top: 5rem;
  }
}
.gallery-container {
  margin-top: 5.5rem;
  padding: 5rem 12rem;
  position: relative;
  @include lg {
    padding: 5rem 3rem;
  }
  @include md {
    padding: 5rem 2rem;
  }
  @include sm {
    padding: 1rem;
  }
}

.image {
  width: 40%;
  display: inline-block;
  margin: 1rem;
  @include sm {
    width: 87%;
  }
}

.contact {
  text-decoration: none;
  font-weight: 700;
  color: $color-text;
}

.contact-icon {
  margin: 0.6rem;
}

.contact:hover {
  color: skyblue;
}
