 .nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    position: sticky;
    
} 

.nav-item {
    margin: 1rem;
}
@media screen and (max-width: 850px) {
    header {
        grid-template-columns: 35% 65%;

    }
    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 102vh;
        width: 102vw;
        position: fixed;
        /* background-image: linear-gradient(135deg, #667eea 0%, #195aae 100%);     */
        background-image: inherit;
        top: -2%;
        left: 0%;
        padding: 0;
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); 
        transition: all ease-in-out .1s;
        opacity: .95;
        background-color: rgb(15, 15, 15);
        line-height: 1.8;
        

        
    }

    .nav-item {
        color: white;
        margin: 0;
    }

    .nav-item:hover {
        background: red;
    }

    .nav-links.open {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }

    .nav-links.close {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); 

    }

    
    

    .line {
        position: absolute;
        height: 5px;
        width: 53%;
        background: white;
        border-radius: 8px;

    }
    .top {  
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
        top: 29%;
    }

    .middle {
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
        top: 46%;
    }

    .bottom {
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
        top: 63%;
    }

    .top.active  {
        transform: rotate(45deg);
        top: 46%;
    }

    .middle.active, .bottom.active {
        transform: rotate(-45deg);
        top: 46%;
    }
}



