header {
    display: grid;
    grid-template-columns: 20% 80%;
    position: fixed;
    width: 80vw;
}

.title {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}

.subtitle {
    font-size: 10px;
    color: grey;
}

nav {
    position: fixed;
}
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
}
.link {
    color: rgb(53, 36, 46);
}

.nav-item,
details {
    color: rgb(53, 36, 46);
    font-size: .9rem;
    margin: 1.3rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    background: url(../imgs/double-down-24.png) center no-repeat;
    color: transparent;
}
details[open] summary::-webkit-details-marker {
    background: url(../imgs/double-down-24.png) center no-repeat;
    color: transparent;
}

.nestedNavList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
}
.nav-item:hover {
    color: lightgray;
}

.active-nav-item {
    border-bottom: 2px solid rgb(53, 36, 46);
}

.hamburger {
    display: none;
}
.hide-desktop {
    display: none;
}

@media screen and (max-width: 850px) {
    header {
        h2 {
            font-size: 1rem;
        }
        .subtitle {
            display: none;
        }
    }
    nav {
        position: relative;
    }
    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        right: 2%;
        width: 6%;
        cursor: pointer;
        z-index: 3;

    }
    
    
    .nav-links {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        /* background-image: linear-gradient(135deg, #667eea 0%, #195aae 100%);     */
        background-image: inherit;
        top: 0%;
        left: 0%;
        padding: 0;
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: all ease-in-out .1s;
        opacity: .95;
        background-color: black;
        color: white;
        
    }

    .nav-links.open {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
    }

    .nav-list.close {
        display: none;
    }
}

