.header {
    display: flex;
    
}

.title {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}

.subtitle {
    font-size: 10px;
    color: grey;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
}
.link {
    color: rgb(53, 36, 46);
}

.nav-item {
    color: rgb(53, 36, 46);
    font-size: .9rem;
    margin: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: lightgray;
}

.active-nav-item {
    border-bottom: 2px solid rgb(53, 36, 46);
}

.hamburger {
    display: none;
}
.hide-desktop {
    display: none;
}

@media screen and (max-width: 850px) {
    nav {
        position: relative;
    }
    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        right: 2%;
        width: 6%;

    }
    .nav-list {
        flex-direction: column;
    }
}

