@import "../../scss/main.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3.3rem;
  background-color: $color-dark-black;
  
  color: white;
  @include lg {
    padding: 1.4rem 1.3rem;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include lg {
      justify-content: center;
    }
  }

  .left p {
    margin: 0.5rem;
  }
}

.right {
  display: flex;
}
.right a {
  text-decoration: none;
  color: white;
}

.social-icon {
  margin: 0.5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.social-icon:hover {
  color: slategray;
}
