
//color palette
$color-text: rgb(43, 38, 41);
//font sizes
$banner-title: 50px;
$section-title: 30px;
$sub-title: 22px;
$card-title: 22px;
$regular-text: 18px;

//line height
$paragraph-line-height: 1.7;
$paragraph-line-height-stretched: 2.2;
$paragraph-line-height-mobile: 1.5;

// === reponsiveness ===
$small-smart-phones: 320px;
$smart-phones: 576px;
$tablets: 812px;
$small-desktops: 1024px;
$large-desktops: 1200px;
