.image-default {
  width: 70%;
  margin-left: 0;
  margin-top: 2rem;
  animation-name: appear;
  transition: 3s ease-in-out;
  animation-duration: 3s;  
}
.image-default.portrait {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .image-default {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .image-default {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
