.main-template-image {
  width: 65%;
  margin-left: 0;
  margin-top: 2rem;
  animation-name: appear;
  transition: 3s ease-in-out;
  animation-duration: 3s;  
}
.main-template-image.portrait {
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .main-template-image,
  .main-template-image.portrait {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .main-template-image,
  .main-template-image.portrait {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
